.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

pyproject.toml
Caddyfile
rsync.sh
start.sh
makefile

notes/

openbook/static/other_sites/
openbook/templates/other_sites/
ZZZ\ Old/