{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Ranked Game{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required autofocus>
    <label for="body">Body</label>
    <textarea name="body" id="body" rows="30">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}

<!-- this file was for recording ranked game lp changes and etc. -->