<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>Damian Siderides</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='other_sites/Resume/style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='other_sites/Resume/images/favicon.ico') }}">
  </head>
  <body>

    <h1><center>Damian Siderides</center></h1>

    <br>

    <center>
      <a href="https://github.com/Damian-Siderides">github</a>
      -
      <a href="mailto:siderides@live.com.au">siderides@live.com.au</a>
      -
      0405 314 747
    </center>

    <br>

    <center>
      <a href="#Work">      Work Experience      </a>
      <a href="#Education"> Education            </a>
      <a href="#Technical"> Technical Skills     </a>
      <a href="#Projects">  Projects             </a>
      <a href="#Volunteer"> Volunteer Experience </a>
    </center>

    <hr>

    <h1 id="Work">Work Experience</h1>
    <hr>
      <!-- alight some text to the right -->
    <h2>Project Manager/CNC Programmer - Superior Kitchens and Joinery <div style="float:right;">May 2021 - Present</div></h2>

    <!-- Coordinated and organised jobs. -->
    <!-- Lead a team of 5 Cabinet Makers. -->
    <!-- Interpreted architectural plans in order to design room layouts and cabinetry. -->
    <!-- Created documentation to increase the organisation of the business and personnel. -->

    <ul>
      <li>Successfully coordinate and organize jobs, ensuring efficient workflow.</li>
      <li>Lead a team of 5 Cabinet Makers, providing guidance and support to achieve project goals.</li>
      <li>Develop and implement documentation to enhance business organization and personnel management.</li>
    </ul>

    <h2>CNC Programmer - Superior Kitchens and Joinery <div style="float:right;">January 2020 - Present</div></h2>

    <!-- Maintained the IT equipment of the business. -->
    <!-- Utilised a suite of programs that designed kitchens and prepared them to be cut by a CNC Machine. -->
    <!-- Interpreted architectural plans in order to design room layouts and cabinetry. -->
    <!-- Frequently discussed with cabinet makers how to modify the kitchens to the customer's specification. -->
    <!-- Prepared 3D plans for clients to view and approve. -->

    <ul>
      <li>Maintained IT equipment, ensuring optimal performance for design and production processes.</li>
      <li>Utilized a suite of programs to design kitchens and prepare them for CNC Machine cutting.</li>
      <li>Interpreted architectural plans to create innovative room layouts and cabinetry designs.</li>
      <li>Collaborated closely with cabinet makers to customize kitchens according to customer specifications.</li>
      <li>Prepared detailed 3D plans for clients' review and approval, enhancing customer satisfaction.</li>
      <li>Developed software solutions to streamline operations and improve efficiency.</li>
    </ul>
    <!-- <h2>Kitchen Hand - Clem's Chicken Shop (June 2014 to November 2016)</h2> -->

    <!-- % Responsible for opening and preparing the shop for business in the morning. Prepared catering orders, received through email as well as orders made through phone calls. Prepared and served food to customers. Performed close of business cleaning functions as well as lock-up. -->
    <br>
      <!-- <br> -->
    <hr>
    <h1 id="Education">Education</h1>
    <hr>

    <h2>Bachelor of Electrical Engineering <div style="float:right;">June 2023</div></h2>
    The University of Sydney

    <!-- <h2>Higher School Certificate - St Pauls Catholic College (2008 to 2013)</h2> -->
    <hr>
    <h1 id="Technical">Technical Skills</h1>
    <hr>
    <h2>Programming Languages</h2>

    C, C++, Python, Java, Bash, Javascript, VHDL, GLSL

    <h2>Markup Languages</h2>

    <!-- <span class="texhtml" style="font-family: &#39;CMU Serif&#39;, cmr10, LMRoman10-Regular, &#39;Latin Modern Math&#39;, &#39;Nimbus Roman No9 L&#39;, &#39;Times New Roman&#39;, Times, serif;">L<span style="text-transform: uppercase; font-size: 0.75em; vertical-align: 0.25em; margin-left: -0.36em; margin-right: -0.15em; line-height: 1ex;">a</span>T<span style="text-transform: uppercase; vertical-align: -0.25em; margin-left: -0.1667em; margin-right: -0.125em; line-height: 1ex;">e</span>X</span> -->

    LaTeX, Markdown, HTML

    <h2>Operating Systems</h2>

    Experienced with Arch, Kali and Ubuntu Linux distributions and Windows operating systems.

    <h2>Other Tools</h2>

    React, Next.js, Node.js, SQL, ssh, git, AutoCAD, OpenGL, Python-Flask, CSS, Bootstrap, Blender
    <hr>
    <h1 id="Projects">Projects</h1>
    <hr>
    <h2><a href="https://github.com/Damian-Siderides/Openbook">Openbook</a></h2>

    Openbook is a website currently under development which will feature as a blog and note taking website. In addition to this it will feature a database for Movies, Games and Books.
    It uses Python-Flask's tutorial Flaskr as a starting point.

    <br>
    <br>
    <a href="https://github.com/Damian-Siderides/Openbook">
      <img src="{{ url_for('static', filename='other_sites/Resume/images/openbook_image.png') }}" alt="Openbook Project Image">
    </a>
    <br>

    <h2>Space Racer</h2>

    I am currently developing a Space Racing game where you will be able to take full advantage of six degrees of freedom to traverse interesting maps.
    <br>
    <br>
    <img src="{{ url_for('static', filename='other_sites/Resume/images/space_game.png') }}" alt="Space Race Game">

      <!-- <h2>Interactive Digital Learning Tools</h2> -->
      <!---->
      <!-- As part of my degree I created a website designed to teach students key concepts in Digital Logic. % Consider Revising -->
      <!---->
      <!-- <a href="https://github.com/Damian-Siderides/Interactive-Digital-Learning-Tools">Interactive Digital Learning Tools</a> -->

    <br>

    <h2><a href="https://github.com/Damian-Siderides/OpenGL-Renderer">OpenGL Renderer</a></h2>

    <!-- I created an OpenGL Renderer which is able to render objects in both 3D and 2D. It also uses DearImGUI to modify various properties such as an object's position and its dimensions. -->

    One of my key projects is an OpenGL renderer I developed in C++. It allows for the rendering of multiple objects in both 2D and 3D, and features a user-friendly interface powered by Dear ImGui for easy manipulation of objects.

    <br>
    <br>

    <a href="https://github.com/Damian-Siderides/OpenGL-Renderer">
      <img src="{{ url_for('static', filename='other_sites/Resume/images/image1.png') }}" alt="OpenGL Renderer Project Image">
    </a>

    <h2>Other Projects</h2>

    My other projects are available at: <a href="https://github.com/Damian-Siderides">https://github.com/Damian-Siderides</a>
    <br>
    <hr>
    <h1 id="Volunteer">Volunteer Experience</h1>
    <hr>
    <br>
      I provided assistance in the leadership of an unofficial Security Society at the University of Sydney. Organised talks and events with members. I presented a talk on Buffer Overflows and demonstrated several techniques that utilised this exploit.
    <br>
    <br>
  </body>
</html>


<!-- https://www.pexels.com/search/4k%20wallpaper/ -->
