{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Game{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    
    <label for="developer">Developer</label>
    <input name="developer" id="developer">{{ request.form['developer'] }}</input>

    <label for="year">Year</label>
    <input type="number" name="year" id="year" value="{{ request.form['year'] }}">

    <label for="genres">Genres</label>
    <input name="genres" id="genres" value="{{ request.form['genres'] }}">

    <label for="series">Series</label>
    <input name="series" id="series" value="{{ request.form['series'] }}">

    <label for="vibes">Vibes</label>
    <input name="vibes" id="vibes" value="{{ request.form['vibes'] }}">

    <label for="tags">Tags</label>
    <input name="tags" id="tags" value="{{ request.form['tags'] }}">

    <label for="setting">Setting</label>
    <input name="setting" id="setting" value="{{ request.form['setting'] }}">

    <label for="country">Country</label>
    <input name="country" id="country" value="{{ request.form['country'] }}">

    <label for="platforms">Platforms</label>
    <input name="platforms" id="platforms" value="{{ request.form['platforms'] }}">

    <label for="image">Image Link</label>
    <input name="image" id="image" value="{{ request.form['image'] }}">

    <input type="submit" value="Save">
  </form>
{% endblock %}
