{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Games{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for game in games %}
    <article class="post">
      <header>
        <div>
          <h1>{{ game['title'] }}</h1>
          <div class="about">by {{ game['username'] }} on {{ game['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == game['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=game['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">Developer: {{ game['developer'] }}</p>
      <p class="body">Year: {{ game['year'] }}</p>
      <p class="body">Genres: {{ game['genres'] }}</p>
      <p class="body">Series: {{ game['series'] }}</p>
      <p class="body">Vibes: {{ game['vibes'] }}</p>
      <p class="body">Tags: {{ game['tags'] }}</p>
      <p class="body">Setting: {{ game['setting'] }}</p>
      <p class="body">Country: {{ game['country'] }}</p>
      <p class="body">Platforms: {{ game['platforms'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
